.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:0;
    left: 20px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

li {
    display: inline;
}

.sans-serif{
  font-family: sans-serif;
}
.serif{
  font-family: serif;
}
.monospace{
  font-family: monospace;
}
.cursive{
  font-family: cursive;
}
.fantasy{
  font-family: fantasy;
}
.Audiowide{
  font-family: Audiowide;
} 
.Sofia{
  font-family: Sofia;
} 
.Trirong{
  font-family: Trirong;
}
.x-small{
  font-size: x-small;
}
.small{
  font-size: small;
}
.medium{
  font-size: medium;
}
.large{
  font-size: large;
}
.x-large{
  font-size: x-large;
}

.boxsize{
  width: 90px;
  height: 50px; 
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin: 5px;
}

.--ffffff{
  background-color: #ffffff;
  color: #000000;
}
.--aaaaaa{
  background-color: #aaaaaa;
  color: #000000;
} 
.--107895{
  background-color: #107895;
  color: #f1f3f4;
} 
.--0d3c56{
  background-color: #0d3c55;
  color: #f1f3f4;
} 
.--0d3c55{
  background-color: #0d3c55;
  color: #eed369;
} 
.--000000{
  background-color: #000000;
  color: #fd852e;
}
.--fd852e{
  background-color: #fd852e;
  color: #000000;
}
.--fffffe{
  background-color: #fffffe;
  color: #83174b;
} 
.--83174b{
  background-color: #83174b;
  color: #ffffff;
}

a{
  text-decoration: none;
}

.item{
  text-align: center;
}

#urgent{

  background-color: red;
}

#entry{

  background-color: blue;
}

#done{

  background-color: lightgray;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0rem;
}
table, tr, td, #urgent{
  border: none;
}
table{
  table-layout: fixed;
}
td.dont{
  overflow:auto;
}

