{% extends 'layout.html' %}

{% block title %}
    Delete
{% endblock %}

{% block main %}
<br>
<h1 class="item">Warning</h1>
<h4 class="item">once deleted, there is no going back</h4>
<br>
{% for dict in list%}
<h3 class="item">Are you sure you want to delete {{dict['head']}}?</h3>
<form action="/validate deletion" method="post" class="item"><button type="submit" name='delete'  value="{{dict['id']}}">Yes</button></form>
<form action="/" class="item"><button type="submit" >No</button></form>


<p class="item">{{dict['time']}}</p>
<p class="item">{{dict['body']}}</p>
{% endfor %}
{% endblock %}