{% extends 'layout.html' %}

{% block title %}
    Entry
{% endblock %}

{% block main %}
<br>
<form action="/entry" method="post" class="item">
    <input name="head" placeholder="Head" type="text" autofocus autocomplete="off"><br><br>
    <input name="body" placeholder="Body" type="text" autocomplete="off" class="d-grid gap-2 col-6 mx-auto">
    <br><br>
    is this note urgent?
    <br>
    <input type="radio" id="yes" name="tag" value="urgent">
    <label for="yes">Yes</label>
    <br>
    <input type="radio" id="no" name="tag" value="entry">
    <label for="no">No</label>
    <br><br>
    <button type="submit">save</button>

</form>

{% endblock %}