{% extends 'layout.html' %}

{% block title %}
    Entry
{% endblock %}

{% block main %}

<form action="/entry" method="post">
    <input name="head" placeholder="Head" type="text" autofocus autocomplete="off">
    <input name="body" placeholder="Body" type="text" autocomplete="off">
    <br>
    is this note urgent?
    <br>
    <input type="radio" id="yes" name="tag" value="urgent">
    <label for="yes">Yes</label>
    <br>
    <input type="radio" id="no" name="tag" value="entry">
    <label for="no">No</label>
    <br>
    <button type="submit" class="btn btn-primary">save</button>

</form>

{% endblock %}