{% extends 'layout.html' %}

{% block title %}
    Validate
{% endblock %}

{% block main %}
<div class="item">
    <br>
    <h1> Prove it is you</h1>
    <form action="/email change" method="post"><input type="password" name="password" placeholder="Password" autocomplete="off" autofocus>
        <input type="hidden" value="{{old}}" name="old">
        <input type="hidden" value="{{new}}" name="new">
        <br>
        <br>
        <button type="submit">It is me</button>
     </form>
    </div>
{% endblock %}